/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;

}


body{
    background-image: url("/assets/imagen/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
           
}

header{
    border: 10px solid rgb(160, 93, 5);
    background-color: rgb(160, 93, 5);
    color: rgb(247, 245, 245);
    
    }

section{
    height: 15vh;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}

.container{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;

}

.caja_atras{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(131, 133, 134, 0.5);
    border-radius: 20px;
        
}

.caja_atras div{
    margin: 100px 40px;
    color: black;
    transition: all 500ms;

}

.caja_atras div p,
.caja_atras div button{
    margin-top: 30px;

}

.caja_atras div h3{
    font-weight: 400px; /*ojo con este puede ser sin px*/
    font-size: 26px;

}

.caja_atras button{
    padding: 10px 40px;
    border: 5px solid white;
    background: transparent;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    color: red;
    outline: none;
    transition: all 30ms;
}

.caja_atras button:hover{
    background: white;
    color: black;

}

/*formularios*/

.contenedor_login_registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    position: relative;
    top: -220px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

}

.contenedor_login_registro form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    
}

.contenedor_login_registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: red;
    
}

.contenedor_login_registro form span{
    font-size: 10px;
    margin-bottom: 20px;

}

.contenedor_login_registro form input{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: none;
    background: rgb(216, 212, 212);
    font-size: 16px;

}

.contenedor_login_registro form button {
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 15px;
    background: red;
    color: white;
    cursor: pointer;
    outline: none;
}

.container_login{
    opacity: 1;
    display: block;

}

.container_registro{
    display: none;

}

aside{
    border: 20px solid rgb(160, 93, 5);
    color: white;
    background-color: rgb(160, 93, 5);
    
}


/*responsive design*/
@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }
    
    .caja_atras{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja_atras div{
        margin: 0px;
        position: absolute;
    }

    /*para formulario o container*/
    .contenedor_login_registro{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor_login_registro form{
        position: relative;
        
    }
}